Repository dygje/Otogram, changes with the labels that .github/labeler.yml gives for each.
All labels: core: config, core: database, core: services, telegram: bot, telegram: userbot, telegram: integration, area: messaging, area: groups, area: blacklist, infra: ci/cd, infra: build, infra: docker, docs: readme, docs: api, docs: setup, docs: other, tests: unit, tests: integration, tests: health, security, dependencies, size: xs, size: s, size: m, size: l, size: xl, priority: critical, priority: high, priority: normal

.github/labeler.yml:

# üè∑Ô∏è Automatic Labeling Configuration for Otogram
# Automatically assign labels to PRs based on file changes

# Core Components
'core: config':
  - 'src/core/**'
  - 'pyproject.toml'
  - '.env.example'

'core: database':
  - 'src/models/**'
  - 'src/core/database.py'

'core: services':
  - 'src/services/**'

# Telegram Components  
'telegram: bot':
  - 'src/telegram/management_bot.py'
  - 'src/telegram/handlers/**'

'telegram: userbot':
  - 'src/telegram/userbot.py'

'telegram: integration':
  - 'src/telegram/bot_manager.py'

# Feature Areas
'area: messaging':
  - 'src/services/message_service.py'
  - 'src/models/message.py'
  - 'src/telegram/handlers/message_handlers.py'

'area: groups':
  - 'src/services/group_service.py'
  - 'src/models/group.py'
  - 'src/telegram/handlers/group_handlers.py'

'area: blacklist':
  - 'src/services/blacklist_service.py'
  - 'src/models/blacklist.py'
  - 'src/telegram/handlers/blacklist_handlers.py'

# Infrastructure
'infra: ci/cd':
  - '.github/workflows/**'
  - '.github/dependabot.yml'

'infra: build':
  - 'pyproject.toml'
  - 'Makefile'
  - 'scripts/**'

'infra: docker':
  - 'Dockerfile*'
  - 'docker-compose*.yml'
  - '.dockerignore'

# Documentation
'docs: readme':
  - 'README.md'
  - 'docs/GETTING_STARTED.md'

'docs: api':
  - 'docs/API.md'

'docs: setup':
  - 'docs/SETUP_GUIDE.md'
  - 'docs/CONTRIBUTING.md'

'docs: other':
  - 'docs/**'
  - '**/*.md'

# Testing
'tests: unit':
  - 'tests/test_*.py'
  - 'tests/**/test_*.py'

'tests: integration':
  - 'tests/integration/**'

'tests: health':
  - 'scripts/health_check.py'
  - 'tests/test_health_check.py'

# Security
'security':
  - '.github/workflows/security.yml'
  - '.github/workflows/codeql.yml'
  - 'src/core/config.py'
  - '.env.example'

# Dependencies
'dependencies':
  - 'pyproject.toml'
  - 'requirements*.txt'

# Size labels based on lines changed
'size: xs':
  - '**'
'size: s':
  - '**'
'size: m':
  - '**'
'size: l':
  - '**'
'size: xl':
  - '**'

# Priority labels (manual assignment usually, but can be automated based on files)
'priority: critical':
  - 'src/core/**'
  - 'main.py'
  - '.github/workflows/**'

'priority: high':
  - 'src/telegram/**'
  - 'src/services/**'

'priority: normal':
  - 'src/models/**'
  - 'docs/**'
  - 'tests/**'

auto-commit for c01a4b27-47e0-4f85-96bc-2b4232443a48
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 9eafca1f-7d4b-41bf-bccc-2afbf16636e9
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 1d1b5019-6614-48e1-b4a2-1f36c7599400
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for b3c99329-1cd5-4218-ad04-04a9062b7072
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for ec409821-cfd4-4965-8b67-8c203e17481f
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 8713c34a-941f-4296-a6dc-d1eeecee41f8
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 9ecf010f-53c3-40f9-9ee6-c30c07d6e954
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 61b083fa-5a8b-422b-8757-717b679159d0
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for b36d0343-70a8-4470-9630-3bc9da7788e7
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for a1a4d1cf-bcd5-4273-9bcb-0205b86594b7
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for bb3f8639-034e-4eca-ae71-764711cb8729
  src/core/config.py
Labels: core: config, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 3d8f2e79-afa9-4a24-9a63-ed7e7cced1f4
  .env.example
Labels: core: config, security, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 618c128a-f582-4427-83ee-7f29dae1574a
  .env.example
Labels: core: config, security, size: xs, size: s, size: m, size: l, size: xl

auto-commit for abc7a7be-7682-4a9b-8820-30149d8ba33f
  .dockerignore
  .editorconfig
  Dockerfile
  docker-compose.yml
  ruff.toml
Labels: infra: docker, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 942e28b9-485b-49cb-8487-321b82d56509
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 0da3bcdd-a90e-4fa0-8d4f-1015b6befbb6
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for b2d14524-09e4-4f54-b5cf-1a01ea2610be
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 6006297d-7985-49e8-9c0a-80929a348ae4
  docs/CHANGELOG.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for dadea7de-c46e-47fc-8103-9f5c8ac3053c
  scripts/health_check.py
  scripts/setup.py
  scripts/update_deps.py
  src/core/config.py
  src/models/blacklist.py
  src/models/config.py
  src/models/group.py
  src/models/log.py
  src/models/message.py
  src/services/blacklist_service.py
  src/services/config_service.py
  src/services/group_service.py
  src/services/message_service.py
  src/telegram/bot_manager.py
  src/telegram/management_bot.py
  src/telegram/userbot.py
  tests/__init__.py
  tests/conftest.py
  tests/test_config.py
  tests/test_database.py
  tests/test_health_check.py
  tests/test_models.py
Labels: core: config, core: database, core: services, telegram: bot, telegram: userbot, telegram: integration, area: messaging, area: groups, area: blacklist, infra: build, tests: unit, tests: health, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical, priority: high, priority: normal

auto-commit for 4604d7ff-b359-4742-a8ca-9d7c297c2b8b
  scripts/health_check.py
  scripts/setup.py
  scripts/update_deps.py
  src/core/config.py
  src/models/config.py
  src/models/group.py
  src/models/message.py
  src/services/group_service.py
  src/services/message_service.py
  src/telegram/management_bot.py
  tests/conftest.py
  tests/test_config.py
  tests/test_database.py
  tests/test_health_check.py
  tests/test_models.py
Labels: core: config, core: database, core: services, telegram: bot, area: messaging, area: groups, infra: build, tests: unit, tests: health, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical, priority: high, priority: normal

auto-commit for 9d793e9a-27c0-4223-813a-1bbe8d7b93f0
  scripts/health_check.py
  src/services/blacklist_service.py
  src/services/group_service.py
  src/telegram/handlers/group_handlers.py
  src/telegram/handlers/message_handlers.py
  src/telegram/userbot.py
  tests/test_database.py
  tests/test_models.py
Labels: core: services, telegram: bot, telegram: userbot, area: messaging, area: groups, area: blacklist, infra: build, tests: unit, tests: health, size: xs, size: s, size: m, size: l, size: xl, priority: high, priority: normal

auto-commit for 8175e41c-ea15-4d6d-b5bb-6847c4f1bde9
  tests/test_config.py
Labels: tests: unit, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 88eb54f8-3002-4aaf-a974-349d871eb412
  tests/test_config.py
Labels: tests: unit, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 81ae2ae4-4a71-4861-8bcf-9e576f511c5f
  tests/test_config.py
Labels: tests: unit, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 9869544e-2fb1-4e60-b770-cb678324dbd0
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/SETUP_GUIDE.md
Labels: docs: api, docs: setup, docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 8e7fa5c7-f9f0-4001-b921-7a82602f91e3
  docs/DEVELOPMENT.md
  docs/GETTING_STARTED.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 97f0990d-a744-4936-962f-92c65a2d9431
  docs/README.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for a0ba4af7-fd70-46b5-96e1-151187052533
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for ed08cc88-eca9-46b9-b1b3-90275b2cfe65
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: infra: ci/cd, docs: other, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 3ecbca9a-20de-4777-b004-8b7e10a512e2
  .github/dependabot.yml
  docs/CODE_OF_CONDUCT.md
  docs/SECURITY.md
Labels: infra: ci/cd, docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 0bc4445b-b313-49ec-ae12-62dd901e174b
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 5fbc5032-2ee7-4874-aa88-b91e22ab3475
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 9c86013c-2c2f-411a-9f86-309d06cf5631
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 26a23751-26ed-45f8-9da1-917cd330e05f
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 4b421347-46c1-4a7d-8c09-5319a0653374
  README.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for eb87ddaa-0761-4cd5-bd8a-b5f158658926
  .github/RECOMMENDATIONS.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 17b910c0-c9b3-4997-9b8e-3cc3d1ed85bb
  .github/pull_request_template.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 5931a7ae-9c8e-46af-a7a4-e1db98f2060a
  .github/CONTRIBUTING.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for fe40b2c7-4f23-4529-b5a5-7538353247a4
  .github/workflows/labeler.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for a9d731cf-40fd-473a-8b27-2cb101128fba
  .github/workflows/check-links.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical
