Repository dygje/Otogram, changes with the labels that .github/labeler.yml gives for each.
All labels: core: config, core: database, core: services, telegram: bot, telegram: userbot, telegram: integration, area: messaging, area: groups, area: blacklist, infra: ci/cd, infra: build, infra: docker, docs: readme, docs: api, docs: setup, docs: other, tests: unit, tests: integration, tests: health, security, dependencies, size: xs, size: s, size: m, size: l, size: xl, priority: critical, priority: high, priority: normal

.github/labeler.yml:

# üè∑Ô∏è Automatic Labeling Configuration for Otogram
# Automatically assign labels to PRs based on file changes

# Core Components
'core: config':
  - 'src/core/**'
  - 'pyproject.toml'
  - '.env.example'

'core: database':
  - 'src/models/**'
  - 'src/core/database.py'

'core: services':
  - 'src/services/**'

# Telegram Components  
'telegram: bot':
  - 'src/telegram/management_bot.py'
  - 'src/telegram/handlers/**'

'telegram: userbot':
  - 'src/telegram/userbot.py'

'telegram: integration':
  - 'src/telegram/bot_manager.py'

# Feature Areas
'area: messaging':
  - 'src/services/message_service.py'
  - 'src/models/message.py'
  - 'src/telegram/handlers/message_handlers.py'

'area: groups':
  - 'src/services/group_service.py'
  - 'src/models/group.py'
  - 'src/telegram/handlers/group_handlers.py'

'area: blacklist':
  - 'src/services/blacklist_service.py'
  - 'src/models/blacklist.py'
  - 'src/telegram/handlers/blacklist_handlers.py'

# Infrastructure
'infra: ci/cd':
  - '.github/workflows/**'
  - '.github/dependabot.yml'

'infra: build':
  - 'pyproject.toml'
  - 'Makefile'
  - 'scripts/**'

'infra: docker':
  - 'Dockerfile*'
  - 'docker-compose*.yml'
  - '.dockerignore'

# Documentation
'docs: readme':
  - 'README.md'
  - 'docs/GETTING_STARTED.md'

'docs: api':
  - 'docs/API.md'

'docs: setup':
  - 'docs/SETUP_GUIDE.md'
  - 'docs/CONTRIBUTING.md'

'docs: other':
  - 'docs/**'
  - '**/*.md'

# Testing
'tests: unit':
  - 'tests/test_*.py'
  - 'tests/**/test_*.py'

'tests: integration':
  - 'tests/integration/**'

'tests: health':
  - 'scripts/health_check.py'
  - 'tests/test_health_check.py'

# Security
'security':
  - '.github/workflows/security.yml'
  - '.github/workflows/codeql.yml'
  - 'src/core/config.py'
  - '.env.example'

# Dependencies
'dependencies':
  - 'pyproject.toml'
  - 'requirements*.txt'

# Size labels based on lines changed
'size: xs':
  - '**'
'size: s':
  - '**'
'size: m':
  - '**'
'size: l':
  - '**'
'size: xl':
  - '**'

# Priority labels (manual assignment usually, but can be automated based on files)
'priority: critical':
  - 'src/core/**'
  - 'main.py'
  - '.github/workflows/**'

'priority: high':
  - 'src/telegram/**'
  - 'src/services/**'

'priority: normal':
  - 'src/models/**'
  - 'docs/**'
  - 'tests/**'

auto-commit for 9b28bd32-8b53-4cdd-9a89-b565683a43f2
  .github/workflows/auto-merge.yml
  .github/workflows/check-links.yml
  .github/workflows/labeler.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 7cc59f60-d063-42b4-9f04-8c5f3bf81d3a
  .github/workflows/cleanup.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for c8d34b5e-ad6b-4f7c-ba92-3ebdf7037301
  .github/README.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 3216b542-18a8-4af8-956c-91c7070c3d8e
  .github/workflows/check-links.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for f424b407-88cc-44c3-b0b7-9c2b254184dd
  docs/GETTING_STARTED.md
Labels: docs: readme, docs: other, size: xs, size: s, size: m, size: l, size: xl, priority: normal

auto-commit for 9e7f4fc1-964b-4545-b9d8-499f0859a98b
  .github/FUNDING.yml
  .github/workflows/auto-merge.yml
  .github/workflows/release.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 73e9160a-622e-4fd8-bc86-949b380ec433
  .github/workflows/cleanup.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for a530e7d6-459a-49b2-9065-87a508a7cbc6
  .github/workflows/dependency-review.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for a8e2aac3-b993-47e9-8e28-d09a5f1937ef
  .github/workflows/maintenance.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 32c71dbe-d184-41ab-a7fb-bb1dca3248d0
  .github/README.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 9b6b3edf-3b21-46a2-98ea-07a4da6c1029
  archive/GETTING_STARTED.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 6784b569-2947-49de-9406-b47af13f0f6d
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for d6345e03-b01f-46b3-83ef-fc0fd03ada39
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for c117455b-7747-402c-8ec2-a9cd616c7de7
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 59f8fa58-882e-4d2f-a119-4079cb75ae63
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 91697251-146f-4a47-a7e1-dbc0ed5b85ff
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for e19e3faa-024e-4943-8950-d75dbfda89b5
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 894a63d5-005c-40ce-a391-ce5b9d35948c
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 69fe5bdb-bfd7-4b4a-bd3a-af1656303fe0
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 802a3c67-53cd-4071-bba9-8c1d9b4637ca
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 2de13097-c7ba-447b-9c53-10233b7ccf5a
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for ca456bb1-84ac-4723-91dd-94080cfd1069
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 82cba4c2-5b91-4d8f-89cf-683f4c92a165
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 1257cf07-d134-46fb-81cf-302f9494302c
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 99c25a61-d313-490a-a2e6-fc2dfc87eea0
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for f68da028-f438-483f-9120-757036d9d747
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for ae474d68-bd6f-43fc-ae4d-d8fab384db7d
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 412c5793-e921-4057-9087-5ff65586f296
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 3b3bb120-a8f5-44c8-8209-c5aeb57aa120
  .github/workflows/check-links.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 72d7c10b-33a8-4fb5-b3ef-d02fbb00ba2f
  .github/workflows/ci.yml
Labels: infra: ci/cd, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 05a9edb9-db9e-42ad-895d-8872415e1a2f
  .github/pull_request_template.md
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for d0b247ba-71ef-49d6-ba21-717e9f35b4f9
  .github/workflows/security.yml
Labels: infra: ci/cd, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 41b64241-7aec-482d-ad93-5d38a96a0fc9
  archive/DETAILED_MIGRATION_VERIFICATION.md
  archive/GETTING_STARTED.md
  archive/MIGRATION_SUMMARY.md
  archive/MIGRATION_TEST_REPORT.md
  archive/PYROGRAM_TO_PYROFORK_MIGRATION.md
  archive/README.md
  archive/STRUCTURE_ANALYSIS.md
  archive/SYNC_ANALYSIS_REPORT.md
  archive/comprehensive_migration_test.py
  archive/migration_test.py
Labels: docs: other, size: xs, size: s, size: m, size: l, size: xl

auto-commit for ad1bb144-fa2c-4b84-97c3-5850431d113f
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: infra: ci/cd, docs: other, security, size: xs, size: s, size: m, size: l, size: xl, priority: critical

auto-commit for 8428d9a2-13c8-4da2-8b0a-fd04e416d7ad
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Labels: core: config, infra: build, dependencies, size: xs, size: s, size: m, size: l, size: xl

auto-commit for 827312f1-3b53-461a-868d-090394e26898
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for debf502d-a114-4e24-904b-2a1f40a1d07d
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for d4a905fb-7560-4c2e-ad01-96f314a34cc2
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for e5971240-8b98-4dda-8165-fa38a56d29bf
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl

auto-commit for e3a24f5a-b89a-4e1d-b35c-6bf38f5c785d
  Makefile
Labels: infra: build, size: xs, size: s, size: m, size: l, size: xl
