Repository dygje/Otogram, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @architecture-team, @docs-team, @devops-team, @telegram-experts, @database-team, @security-team

auto-commit for 2800a8bc-501e-4a17-a099-e1467842d07e
  pyproject.toml
Owners: @project-maintainers

auto-commit for d5034824-9a1d-44a9-ba83-89f59b802a41
  pyproject.toml
Owners: @project-maintainers

auto-commit for 7be7b385-88d8-4cf1-997f-4a7515354991
  pyproject.toml
Owners: @project-maintainers

auto-commit for 7857c8af-a3c9-429b-8c3e-9576ad5ee850
  src/telegram/userbot.py
Owners: @telegram-experts, @project-maintainers

auto-commit for 6a3d7f1d-de50-4df6-bfdb-f96eb02ade73
  src/telegram/userbot.py
Owners: @telegram-experts, @project-maintainers

auto-commit for e7128070-b559-4bd5-9b6b-b73d977ed053
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for 1a5bc435-59e0-4424-9ab2-9d226a4711b0
  Makefile
Owners: @project-maintainers

auto-commit for ba7713ff-ddbe-4a02-be9d-9ac3f5bbfc20
  Makefile
Owners: @project-maintainers

auto-commit for 47db50fa-c226-451d-a7d3-be6b70e4ba2f
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for 769c78b1-39cd-4afc-8582-c181b86f4be5
  docs/decisions/0002-dependency-management.md
Owners: @docs-team, @project-maintainers

auto-commit for cc74a71e-c4f0-4150-bca7-fc3e171f7629
  docs/decisions/0002-dependency-management.md
Owners: @docs-team, @project-maintainers

auto-commit for 259e4886-bdc1-41fb-b40a-0c4fbc6469cb
  docs/decisions/0002-dependency-management.md
Owners: @docs-team, @project-maintainers

auto-commit for e60db5ce-cdc7-4bba-95a4-ed0b3f95c4ca
  docs/SECURITY.md
Owners: @security-team, @project-maintainers

auto-commit for 2a38d1e7-7f41-4000-969e-d333831804e0
  archive/SYNC_ANALYSIS_REPORT.md
Owners: @project-maintainers

auto-commit for 2f006380-280f-43f0-a949-38cc605fc976
  src/telegram/userbot.py
Owners: @telegram-experts, @project-maintainers

auto-commit for 688de075-53bb-4351-834d-d9d1adf1334d
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for a3839305-f8cf-40e9-ac9b-42cba50af556
  docs/CHANGELOG.md
Owners: @docs-team, @project-maintainers

auto-commit for e0b819a7-1c06-49cb-817a-fc0d96e2cdca
  docs/PYROGRAM_TO_PYROFORK_MIGRATION.md
Owners: @docs-team, @project-maintainers

auto-commit for 60be5aef-d340-4be1-b70c-9b3aa1d42e52
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for e935b67b-bab8-4e7e-838f-da0f566960b1
  migration_test.py
Owners: @project-maintainers

auto-commit for c798845c-bdfc-4a6c-8086-c3beb0a7bdab
  migration_test.py
Owners: @project-maintainers

auto-commit for a111b476-d11b-4019-8b24-615decb4a0c1
  migration_test.py
Owners: @project-maintainers

auto-commit for e32220a8-5fa9-46c9-b4f3-26014b6d7c9c
  migration_test.py
Owners: @project-maintainers

auto-commit for eec6bfc3-2e56-45d6-a07b-9e6b5430ba5e
  migration_test.py
Owners: @project-maintainers

auto-commit for e4fe6742-dfc0-487a-9aaa-de662c01b570
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for 26965d95-02e4-412d-9cb7-14138f05d84b
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for 626689b9-fae0-4184-a4f1-8aa214ffb26d
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for 22f9015e-fbfc-4dcb-84d8-774c0e41d856
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for c407a75a-8143-4624-a311-16d970e59fec
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for 576b4588-b604-4cf6-9b80-7bb5ebec54aa
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for 2ad48ac8-46ea-4a5b-90fa-5f64d97ad706
  comprehensive_migration_test.py
Owners: @project-maintainers

auto-commit for d41e1c6e-81da-410c-9e31-f47cdcbd4bfc
  MIGRATION_TEST_REPORT.md
Owners: @project-maintainers

auto-commit for 069c1dde-49d9-4eee-b812-a6d091a29660
  MIGRATION_SUMMARY.md
Owners: @project-maintainers

auto-commit for 25888dbb-d7d3-413c-9185-1624bd89da97
  DETAILED_MIGRATION_VERIFICATION.md
Owners: @project-maintainers

auto-commit for afbe3e75-e81c-40c3-bbe5-4b0824442175
  archive/DETAILED_MIGRATION_VERIFICATION.md
  archive/MIGRATION_SUMMARY.md
  archive/MIGRATION_TEST_REPORT.md
  archive/comprehensive_migration_test.py
  archive/migration_test.py
Owners: @project-maintainers

auto-commit for e3f2d69c-9b23-402c-8ecb-2cc23d4188ea
  archive/README.md
Owners: @docs-team, @project-maintainers

auto-commit for 04f615cf-6cd1-4ee9-ace3-57d4b899e851
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: @project-maintainers, @docs-team

auto-commit for 05768cbc-4025-4f66-b0a0-efbce570238f
  SECURITY.md
Owners: @security-team, @project-maintainers

auto-commit for e4e63a9d-8420-423c-a481-78dbb235a6bf
  scripts/health_check.py
  src/core/config.py
  src/models/base.py
Owners: @devops-team, @project-maintainers, @security-team, @database-team

auto-commit for 1405da7b-61a0-4dd3-a400-8dded20894b1
  scripts/health_check.py
  src/core/config.py
Owners: @devops-team, @project-maintainers, @security-team

CODEOWNERS:

# Code Owners for Telegram Automation System
# These owners will be requested for review when PRs are opened

# Global ownership - all files require review
* @project-maintainers

# Core architecture - requires architecture review
/src/core/ @architecture-team @project-maintainers
/docs/decisions/ @architecture-team @project-maintainers

# Documentation - technical writers and maintainers
/docs/ @docs-team @project-maintainers
README.md @docs-team @project-maintainers
CONTRIBUTING.md @docs-team @project-maintainers

# Configuration files - DevOps and maintainers
requirements.txt @devops-team @project-maintainers
.env @devops-team @project-maintainers
/scripts/ @devops-team @project-maintainers

# Telegram integration - requires Telegram expertise
/src/telegram/ @telegram-experts @project-maintainers

# Database layer - requires database expertise
/src/models/ @database-team @project-maintainers
/src/services/ @database-team @project-maintainers

# Security-sensitive files - requires security review
SECURITY.md @security-team @project-maintainers
/src/core/config.py @security-team @project-maintainers

# GitHub configuration - requires DevOps review
/.github/ @devops-team @project-maintainers

# Note: Replace team names with actual GitHub usernames or team slugs
# Example: @username or @organization/team-name
