Repository dygje/Otogram, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @architecture-team, @docs-team, @devops-team, @telegram-experts, @database-team, @security-team

CODEOWNERS:

# Code Owners for Telegram Automation System
# These owners will be requested for review when PRs are opened

# Global ownership - all files require review
* @project-maintainers

# Core architecture - requires architecture review
/src/core/ @architecture-team @project-maintainers
/docs/decisions/ @architecture-team @project-maintainers

# Documentation - technical writers and maintainers
/docs/ @docs-team @project-maintainers
README.md @docs-team @project-maintainers
CONTRIBUTING.md @docs-team @project-maintainers

# Configuration files - DevOps and maintainers
requirements.txt @devops-team @project-maintainers
.env @devops-team @project-maintainers
/scripts/ @devops-team @project-maintainers

# Telegram integration - requires Telegram expertise
/src/telegram/ @telegram-experts @project-maintainers

# Database layer - requires database expertise
/src/models/ @database-team @project-maintainers
/src/services/ @database-team @project-maintainers

# Security-sensitive files - requires security review
SECURITY.md @security-team @project-maintainers
/src/core/config.py @security-team @project-maintainers

# GitHub configuration - requires DevOps review
/.github/ @devops-team @project-maintainers

# Note: Replace team names with actual GitHub usernames or team slugs
# Example: @username or @organization/team-name

auto-commit for 891c004d-5aa0-4a2c-b638-d74474b6c991
  pyproject.toml
Owners: @project-maintainers

auto-commit for 384f2768-3daa-4466-ba6e-5e609a390835
  scripts/update_deps.py
Owners: @devops-team, @project-maintainers

auto-commit for e76a7dde-19a6-46f8-8fed-9a4ea393ce89
  scripts/update_deps.py
Owners: @devops-team, @project-maintainers

auto-commit for 310f57d9-4417-485c-a5e7-c5db76230e49
  Makefile
Owners: @project-maintainers

auto-commit for b1590089-e9aa-47ab-9d15-18e69044d7e1
  src/core/database.py
Owners: @architecture-team, @project-maintainers

auto-commit for b4b5dfde-ba0e-49a4-9a6f-f90de0c0c99b
  scripts/update_deps.py
Owners: @devops-team, @project-maintainers

auto-commit for 347412e2-1a8b-44cd-88ef-3d3db0c9e2c1
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Owners: @project-maintainers, @docs-team, @security-team

auto-commit for c90fb433-7f97-43f9-937d-79130b6b2ac7
  .github/CONTRIBUTING.md
Owners: @devops-team, @project-maintainers

auto-commit for 1bd8f2f7-6378-4f40-b4e5-7350fc4e9467
  .github/CODE_OF_CONDUCT.md
Owners: @devops-team, @project-maintainers

auto-commit for 757ca78d-078b-4f06-956b-4895f509c8d2
  .github/SECURITY.md
Owners: @devops-team, @project-maintainers

auto-commit for 57b1624a-9c5c-4369-8719-e9a0d4311c16
  docs/CONTRIBUTING.md
  docs/development/contributing.md
Owners: @docs-team, @project-maintainers

auto-commit for d847cc3d-f832-42a3-b9dd-85750362fe87
  docs/getting-started/overview.md
Owners: @docs-team, @project-maintainers

auto-commit for efc2a35d-26d9-4a0e-9875-32de7a921632
  mkdocs.yml
Owners: @project-maintainers

auto-commit for 2587c97c-a332-42a9-974b-1da27d929bd1
  mkdocs.yml
Owners: @project-maintainers

auto-commit for 18f2ca7f-3d0b-429d-99f5-68d5bb4c17c9
  docs/index.md
Owners: @docs-team, @project-maintainers

auto-commit for 72591f0f-3cd5-4af9-a20d-5f80695edf94
  docs/README.md
Owners: @docs-team, @project-maintainers
