Repository dygje/Otogram, changes with the owners that CODEOWNERS names for each.
All owners: @project-maintainers, @architecture-team, @docs-team, @devops-team, @telegram-experts, @database-team, @security-team

CODEOWNERS:

# Code Owners for Telegram Automation System
# These owners will be requested for review when PRs are opened

# Global ownership - all files require review
* @project-maintainers

# Core architecture - requires architecture review
/src/core/ @architecture-team @project-maintainers
/docs/decisions/ @architecture-team @project-maintainers

# Documentation - technical writers and maintainers
/docs/ @docs-team @project-maintainers
README.md @docs-team @project-maintainers
CONTRIBUTING.md @docs-team @project-maintainers

# Configuration files - DevOps and maintainers
requirements.txt @devops-team @project-maintainers
.env @devops-team @project-maintainers
/scripts/ @devops-team @project-maintainers

# Telegram integration - requires Telegram expertise
/src/telegram/ @telegram-experts @project-maintainers

# Database layer - requires database expertise
/src/models/ @database-team @project-maintainers
/src/services/ @database-team @project-maintainers

# Security-sensitive files - requires security review
SECURITY.md @security-team @project-maintainers
/src/core/config.py @security-team @project-maintainers

# GitHub configuration - requires DevOps review
/.github/ @devops-team @project-maintainers

# Note: Replace team names with actual GitHub usernames or team slugs
# Example: @username or @organization/team-name

auto-commit for 8572693b-9025-4429-8a7a-08cd42331a17
  .aiignore
  .gptignore
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Owners: @project-maintainers

auto-commit for 30ef7fa9-3b7e-4773-abd9-8fa62ff6390f
  .dockerignore
  .env.example
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
  docs/decisions/0004-repository-structure.md
Owners: @project-maintainers, @devops-team, @docs-team

auto-commit for 16aaae0d-e2b3-4185-a190-b26e3030e9bd
  docs/decisions/README.md
Owners: @docs-team, @project-maintainers

auto-commit for bde76e65-fadd-464d-bcaa-36ee1e161515
  .aiignore
  .cursorrules
  .gptignore
Owners: @project-maintainers

auto-commit for 2dc653fc-8f45-4e40-be6e-f6d9a3081711
  docs/decisions/0004-repository-structure.md
Owners: @docs-team, @project-maintainers

auto-commit for 09f48997-f732-4156-8584-034262e2eec2
  docs/decisions/0004-repository-structure.md
Owners: @docs-team, @project-maintainers

auto-commit for 618a67bb-d951-4a0d-a5e5-94358b490164
  docs/decisions/0004-repository-structure.md
Owners: @docs-team, @project-maintainers

auto-commit for b321e903-44ae-46ba-9d98-76058e0b8b13
  docs/decisions/0004-repository-structure.md
Owners: @docs-team, @project-maintainers

auto-commit for b57469ef-b99e-498f-a02f-e90aeb720963
  docs/decisions/0004-repository-structure.md
Owners: @docs-team, @project-maintainers

auto-commit for aef30c4b-b651-47e8-bff9-252306feaf10
  .env.example
Owners: @project-maintainers

auto-commit for 31e60ca8-9d32-4a21-9cda-9375c15205a9
  .env
Owners: @devops-team, @project-maintainers

auto-commit for 20030c03-1e3f-4574-b4d7-846b1e251481
  src/core/config.py
Owners: @security-team, @project-maintainers

auto-commit for c3d987af-2872-41da-abf0-c2f2b4437573
  src/models/blacklist.py
Owners: @database-team, @project-maintainers

auto-commit for 7d472a10-6c3f-4409-97b9-6dbc79ce4c9f
  src/models/blacklist.py
Owners: @database-team, @project-maintainers

auto-commit for 44ee5ddf-c26c-4443-bc04-33fc2706e2cf
  scripts/setup.py
Owners: @devops-team, @project-maintainers

auto-commit for 25767c88-fe25-4c44-a27f-ea9bce2b3634
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for 1a04c67c-135a-402a-901f-bd3ec68d6501
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for 4b785093-c72e-48e4-93dd-7963842932f2
  STRUCTURE_ANALYSIS.md
Owners: @project-maintainers

auto-commit for 90c501fa-e0f2-4fdf-93bc-0fbc312c7d20
  SYNC_ANALYSIS_REPORT.md
Owners: @project-maintainers

auto-commit for 3c5757a0-422d-46ff-ae60-b6f90703da27
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  tests/__init__.py
  tests/conftest.py
  tests/test_config.py
Owners: @devops-team, @project-maintainers

auto-commit for 08f233ce-ee69-44e0-a7cc-4ffdb55d0125
  archive/README.md
  mkdocs.yml
  tests/test_database.py
  tests/test_health_check.py
  tests/test_models.py
Owners: @docs-team, @project-maintainers

auto-commit for fc80d32f-7874-4401-9097-6726efa475c2
  archive/STRUCTURE_ANALYSIS.md
  archive/SYNC_ANALYSIS_REPORT.md
Owners: @project-maintainers

auto-commit for 34037bf3-f059-4b50-b5ab-48d96c8d2d5b
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Owners: @docs-team, @project-maintainers, @security-team

auto-commit for 967b2f71-6042-4903-8e7a-ba0babdfc01f
  docs/development/contributing.md
  docs/getting-started/overview.md
  docs/index.md
Owners: @docs-team, @project-maintainers

auto-commit for ed4d8d83-a37e-4612-8d7b-15b0b021862d
  requirements.txt
Owners: @devops-team, @project-maintainers

auto-commit for 9fe888a8-2035-485d-8791-4b08da778bb9
  scripts/health_check.py
  scripts/setup.py
  src/core/config.py
  src/core/database.py
  src/models/base.py
  src/models/blacklist.py
  src/models/config.py
  src/models/group.py
  src/models/log.py
  src/models/message.py
  src/services/blacklist_service.py
  src/services/config_service.py
  src/services/group_service.py
  src/services/message_service.py
  src/telegram/bot_manager.py
  src/telegram/handlers/blacklist_handlers.py
  src/telegram/handlers/config_handlers.py
  src/telegram/handlers/group_handlers.py
  src/telegram/handlers/message_handlers.py
  src/telegram/management_bot.py
  src/telegram/userbot.py
Owners: @devops-team, @project-maintainers, @security-team, @architecture-team, @database-team, @telegram-experts

auto-commit for be7195b3-ed3e-4f0b-81f8-212da6aa8f60
  scripts/health_check.py
  scripts/setup.py
  src/core/config.py
  src/core/database.py
  src/models/base.py
  src/models/blacklist.py
  src/models/config.py
  src/models/group.py
  src/models/log.py
  src/models/message.py
  src/services/blacklist_service.py
  src/services/config_service.py
  src/services/group_service.py
  src/services/message_service.py
  src/telegram/bot_manager.py
  src/telegram/handlers/blacklist_handlers.py
  src/telegram/handlers/config_handlers.py
  src/telegram/handlers/group_handlers.py
  src/telegram/handlers/message_handlers.py
  src/telegram/management_bot.py
  src/telegram/userbot.py
Owners: @devops-team, @project-maintainers, @security-team, @architecture-team, @database-team, @telegram-experts

auto-commit for 288f198e-c54c-459c-8251-96218985b263
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for 47283a6a-ea3d-4e27-949e-7d114fae54a0
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for ea071aa4-36f4-443a-a8a3-9fdaa3dd8459
  README.md
Owners: @docs-team, @project-maintainers

auto-commit for 5b787475-2c0f-4433-9c54-4cd47c99ddb3
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for ee0b07b2-4bba-4f6a-8d16-2609859d8be6
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for 38fb16a0-901d-4a01-9eb1-05d0c64e838d
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for 01361201-c5dd-40ed-ad78-afa08a6be379
  tests/test_health_check.py
Owners: @project-maintainers

auto-commit for a331d38e-d9d7-491b-a53d-23761c401300
  tests/test_health_check.py
Owners: @project-maintainers

auto-commit for e3185e32-61e5-49d6-92c2-da518865d177
  src/core/config.py
Owners: @security-team, @project-maintainers

auto-commit for b3b2e37e-526c-4246-87c3-72b98cc14115
  src/models/base.py
Owners: @database-team, @project-maintainers

auto-commit for 796f4c3b-c02f-4040-807a-1a81c04bd11b
  src/models/group.py
Owners: @database-team, @project-maintainers

auto-commit for 2a008ea3-b2f3-4e1b-9a12-6124049af0a5
  scripts/health_check.py
Owners: @devops-team, @project-maintainers

auto-commit for f18191cb-d634-42d9-9bdb-d25801492a92
  .pre-commit-config.yaml
Owners: @project-maintainers
